$violet: rgb(118, 43, 241);
$light-violet: rgba(241, 226, 255, 1);
$green: rgb(44, 222, 123);
$white: rgb(255, 255, 255);
$gray: rgba(85, 85, 85, 1);
$medium-gray: rgba(145, 145, 145, 1);
$light-gray: rgba(224, 224, 224, 1);
$black: rgba(0, 0, 0, 1);